
h1{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: 900;
 text-align: center;
 color: #3FAAC8;
}
img{
 width: 35%;
 display: block;
 margin: auto;
}
h2{
 font-weight: 700;
 font-size:1.7rem;
 color:#000;
}
a{
 text-decoration: none;
 color: #3FAAC8;
 font-size: 18px;
}
#paises{
 text-decoration: underline;
}
.edad{
 text-align: center;
 font-size: 2rem;
 background-color: #3FAAC8;
}
.parrafo{
 background-color: bisque;
 line-height: 2;
}